@model  web.Models.BlogModel

@{
    Layout = null;
}

<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html lang="en">
@Html.Partial("~/Views/Shared/_HeadPartial.cshtml")
<body>
    <!-- banner -->
    <div class="banner">
        @Html.Partial("~/Views/Shared/BannerHeader.cshtml")
        <div class="wthree-banner-info">
            <div class="container">
                <h2>Blog</h2>
            </div>
        </div>
    </div>
    <!-- //banner -->
    <!-- blog -->
    <div class="blog">
        <!-- container -->
        <div class="container">
            <div class="blog-top-grids">
                <div class="col-md-8 blog-top-left-grid">
                    <div class="left-blog">
                        @foreach (var item in Model.ArticleList)
                        {
                            <div class="blog-left">
                                <div class="blog-left-left">
                                    <p><a href="#">Admin</a> Tarafından Gönderildi. &nbsp;&nbsp; @item.CreateDate.ToString("dd.MM.yyyy HH:mm") &nbsp;&nbsp; <a href="/Home/BlogDetail/@item.ID">Yorumlar(@item._count)</a></p>
                                    <a href="#"><img src="~/UploadedFiles/@item.ArticleImage" alt="" /></a>
                                </div>
                                <div class="blog-left-right">
                                    <a href="#">@item.Caption </a>
                                    <p>
                                        @Html.Raw(item.ArticleContent)
                                    </p>
                                </div>
                                <div class="clearfix"> </div>
                            </div>
                        }
                    </div>
                    <nav>
                        <ul class="pagination">
                            <li>
                                <a href="@Model.FirstPageUrl" aria-label="İlk">
                                    <span aria-hidden="true">««</span>
                                </a>
                            </li>
                            @foreach (var item in Model.PageList)
                            {
                                <li class="@if (item.DisplayName == Model.ActivePage) { <text>active </text>} "><a href="@item.Url">@item.DisplayName</a></li>
                            }
                            @*<li class="active"><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>*@
                            <li>
                                <a href="@Model.LastPageUrl" aria-label="Son">
                                    <span aria-hidden="true">»»</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="col-md-4 blog-top-right-grid">
                    <div class="Categories">
                        <h3>Kategoriler</h3>
                        @Html.Action("BlogCategories")
                    </div>
                    <div class="Categories">
                        <h3>Arşiv</h3>
                        @Html.Action("BlogArchiev")
                    </div>
                    @Html.Action("RecentComments")
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
        <!-- //container -->
    </div>
    <!-- //blog -->
    <!-- footer -->
    @Html.Partial("~/Views/Shared/_Footer.cshtml")
    <!-- //footer -->
    <script src="~/js/SmoothScroll.min.js"></script>

    <script type="text/javascript" src="~/js/move-top.js"></script>
    <script type="text/javascript" src="~/js/easing.js"></script>
    <!-- here stars scrolling icon -->
    <script type="text/javascript">
        $(document).ready(function () {
            /*
                var defaults = {
                containerID: 'toTop', // fading element id
                containerHoverID: 'toTopHover', // fading element hover id
                scrollSpeed: 1200,
                easingType: 'linear'
                };
            */

            $().UItoTop({ easingType: 'easeOutQuart' });

        });
    </script>
    <!-- //here ends scrolling icon -->
</body>
</html>