
@{
    Layout = null;
}

<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html lang="en">
@Html.Partial("~/Views/Shared/_HeadPartial.cshtml")
<body>
    <!-- banner -->
    <div class="banner">
        @Html.Partial("~/Views/Shared/BannerHeader.cshtml")
        <div class="wthree-banner-info">
            <div class="container">
                <h2>Blog</h2>
            </div>
        </div>
    </div>
    <!-- //banner -->
    <!-- blog -->
    <div class="blog">
        <!-- container -->
        <div class="container">
            <div class="blog-top-grids">
                <div class="col-md-8 blog-top-left-grid">
                    <div class="left-blog">
                        <div class="blog-left">
                            <div class="blog-left-left">
                                <p>Posted By <a href="#">Admin</a> &nbsp;&nbsp; on June 2, 2017 &nbsp;&nbsp; <a href="#">Comments (10)</a></p>
                                <a href="single.html"><img src="~/images/2.jpg" alt="" /></a>
                            </div>
                            <div class="blog-left-right">
                                <a href="single.html">Phasellus ultrices tellus eget ipsum ornare molestie </a>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.Sed blandit massa vel mauris sollicitudin
                                    dignissim. Phasellus ultrices tellus eget ipsum ornare molestie scelerisque eros dignissim. Phasellus
                                    fringilla hendrerit lectus nec vehicula. ultrices tellus eget ipsum ornare consectetur adipiscing elit.Sed blandit .
                                    estibulum aliquam neque nibh, sed accumsan nulla ornare sit amet.
                                </p>
                            </div>
                            <div class="clearfix"> </div>
                        </div>
                        <div class="blog-left">
                            <div class="blog-left-left">
                                <p>Posted By <a href="#">Admin</a> &nbsp;&nbsp; on June 2, 2017 &nbsp;&nbsp; <a href="#">Comments (10)</a></p>
                                <a href="single.html"><img src="~/images/5.jpg" alt="" /></a>
                            </div>
                            <div class="blog-left-right wow fadeInRight animated animated" data-wow-delay=".5s">
                                <a href="single.html">Phasellus ultrices tellus eget ipsum ornare molestie</a>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.Sed blandit massa vel mauris sollicitudin
                                    dignissim. Phasellus ultrices tellus eget ipsum ornare molestie scelerisque eros dignissim. Phasellus
                                    fringilla hendrerit lectus nec vehicula. ultrices tellus eget ipsum ornare consectetur adipiscing elit.Sed blandit .
                                    estibulum aliquam neque nibh, sed accumsan nulla ornare sit amet.
                                </p>
                            </div>
                            <div class="clearfix"> </div>
                        </div>
                        <div class="blog-left">
                            <div class="blog-left-left">
                                <p>Posted By <a href="#">Admin</a> &nbsp;&nbsp; on June 2, 2017 &nbsp;&nbsp; <a href="#">Comments (10)</a></p>
                                <a href="single.html"><img src="~/images/6.jpg" alt="" /></a>
                            </div>
                            <div class="blog-left-right">
                                <a href="single.html">Phasellus ultrices tellus eget ipsum ornare molestie</a>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.Sed blandit massa vel mauris sollicitudin
                                    dignissim. Phasellus ultrices tellus eget ipsum ornare molestie scelerisque eros dignissim. Phasellus
                                    fringilla hendrerit lectus nec vehicula. ultrices tellus eget ipsum ornare consectetur adipiscing elit.Sed blandit .
                                    estibulum aliquam neque nibh, sed accumsan nulla ornare sit amet.
                                </p>
                            </div>
                            <div class="clearfix"> </div>
                        </div>
                    </div>
                    <nav>
                        <ul class="pagination">
                            <li>
                                <a href="#" aria-label="Previous">
                                    <span aria-hidden="true">«</span>
                                </a>
                            </li>
                            <li><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                            <li>
                                <a href="#" aria-label="Next">
                                    <span aria-hidden="true">»</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="col-md-4 blog-top-right-grid">
                    <div class="Categories">
                        <h3>Kategoriler</h3>
                        @Html.Action("BlogCategories")
                    </div>
                    <div class="Categories">
                        <h3>Arşiv</h3>
                        @Html.Action("BlogArchiev")
                    </div>
                    @Html.Action("RecentComments")
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
        <!-- //container -->
    </div>
    <!-- //blog -->
    <!-- footer -->
    @Html.Partial("~/Views/Shared/_Footer.cshtml")
    <!-- //footer -->
    <script src="~/js/SmoothScroll.min.js"></script>

    <script type="text/javascript" src="~/js/move-top.js"></script>
    <script type="text/javascript" src="~/js/easing.js"></script>
    <!-- here stars scrolling icon -->
    <script type="text/javascript">
        $(document).ready(function () {
            /*
                var defaults = {
                containerID: 'toTop', // fading element id
                containerHoverID: 'toTopHover', // fading element hover id
                scrollSpeed: 1200,
                easingType: 'linear'
                };
            */

            $().UItoTop({ easingType: 'easeOutQuart' });

        });
    </script>
    <!-- //here ends scrolling icon -->
</body>
</html>