
@{
    Layout = null;
}

<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html lang="en">
@Html.Partial("~/Views/Shared/_HeadPartial.cshtml")
<body>
    <!-- banner -->
    <div class="banner">
        @Html.Partial("~/Views/Shared/BannerHeader.cshtml")
        <div class="wthree-banner-info">
            <div class="container">
                <h2>Blog</h2>
            </div>
        </div>
    </div>
    <!-- //banner -->
    <!-- blog -->
    <div class="blog">
        <!-- container -->
        <div class="container">
            <div class="blog-top-grids">
                <div class="col-md-8 blog-top-left-grid">
                    <div class="left-blog">
                        @Html.Action("ArticleList")
                    </div>
                    <nav>
                        <ul class="pagination">
                            <li>
                                <a href="#" aria-label="Previous">
                                    <span aria-hidden="true">«</span>
                                </a>
                            </li>
                            <li><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                            <li>
                                <a href="#" aria-label="Next">
                                    <span aria-hidden="true">»</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="col-md-4 blog-top-right-grid">
                    <div class="Categories">
                        <h3>Kategoriler</h3>
                        @Html.Action("BlogCategories")
                    </div>
                    <div class="Categories">
                        <h3>Arşiv</h3>
                        @Html.Action("BlogArchiev")
                    </div>
                    @Html.Action("RecentComments")
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
        <!-- //container -->
    </div>
    <!-- //blog -->
    <!-- footer -->
    @Html.Partial("~/Views/Shared/_Footer.cshtml")
    <!-- //footer -->
    <script src="~/js/SmoothScroll.min.js"></script>

    <script type="text/javascript" src="~/js/move-top.js"></script>
    <script type="text/javascript" src="~/js/easing.js"></script>
    <!-- here stars scrolling icon -->
    <script type="text/javascript">
        $(document).ready(function () {
            /*
                var defaults = {
                containerID: 'toTop', // fading element id
                containerHoverID: 'toTopHover', // fading element hover id
                scrollSpeed: 1200,
                easingType: 'linear'
                };
            */

            $().UItoTop({ easingType: 'easeOutQuart' });

        });
    </script>
    <!-- //here ends scrolling icon -->
</body>
</html>